<!-- adapted code from Cs50  -->
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.dropdown-content {
    display: none;
}


.show {
    display: block;
}

.dropdown-selected {
    background-color: yellow; /* or any color you prefer */

}

.output {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    background-color: yellow;
}


.camera-container {
  display: flex;
  flex-direction: column;  /* stack vertically */
  align-items: center;     /* center horizontally */
  justify-content: center; /* center vertically if height set */
  gap: 10px;               /* space between video and button */
  margin: 20px auto;       /* vertical margin and centered container */
  max-width: 350px;        /* optional max width */
}
